<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><b>Categories</b></h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-10">
                <form class="form-inline">
                    <div class="form-group">
                        <label></label>
                        <input type="text" class="form-control" ng-model="categories.name" />
                    </div>
                    <button class="text-right btn btn-primary" ng-click="categories.attach()">Attach</button>                                                                    
                </form>
            </div>
            <div class="col-md-2">
                <div class="loader" ng-show="categories.loading"></div>
            </div>
        </div><br />
        <div class="row">
            <div class="col-md-12">
                <form>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="c in categories.items track by c.id">
                            <div class="checkbox">                                
                                <label><input type="checkbox" ng-change="categories.update(c)" ng-model="c.enabled"/>
                                    <span ng-bind="c.name"></span>
                                </label>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>            
        </div>
    </div>
</div>