<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><b>Categories</b></h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <form class="form-inline">
                    <div class="form-group">
                        <label></label>
                        <input type="text" class="form-control" ng-model="categories.name" />
                    </div>
                    <button class="text-right btn btn-primary" ng-click="categories.attach()">Attach</button>
                </form>
            </div>
        </div><br />
        <div class="row">
            <div class="col-md-8">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="c in categories.items track by c.id">
                        <div class="checkbox">
                            <label><input type="checkbox" ng-change="categories.update(c)" ng-model="categories.selected"
                                          ng-checked="c.enabled" />{{c.name}}</label>
                        </div>
                    </li>                    
                </ul>
            </div>            
        </div>
    </div>
</div>